.footer{
    background-color: #333;
    color: #fff;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:20px;
}
.footer_links{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.footer_box{
    border-left: 2px solid white;
    display:flex;
    flex-direction: column;
    padding: 10px;
    margin:0px 30px;
}
.footer_box a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 14px;
}
.footer_author{
    display:flex;
    justify-content: center;
    padding-top: 10px;
}
.footer_author p{
    color:black;
    font-size: 14px;
}