
.list{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mainblock{
    min-height: 40vh;
}
.buttonmore{
    margin-bottom: 5px;
}


.wear{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}