
.list{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.spacex{
    border: 2px solid gray;
    margin: 5px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    max-width: 300px;
    height: 200px;
    justify-content: space-between;
    min-width: 350px;
    
}
.wears{
    border: 2px solid gray;
    margin: 5px;
    display: inline-block;
    flex-direction: column;
    padding: 5px;
    max-width: 300px;
    height: 500px;
    justify-content: space-between;
    min-width: 440px;
    text-wrap: nowrap;
    & img{
        max-width: 390px;
        // object-fit: contain; 
    }
}
.mainblock{
    min-height: 40vh;
}
.buttonmore{
    margin-bottom: 5px;
}


.wear{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}