.item {
    border: 2px solid gray;
    margin: 5px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    max-width: 300px;
    height: 400px;
    justify-content: space-between;
    min-width: 350px;
}

.item img {
    max-width: 100%;
    max-height: 150px;
    object-fit: contain; 
}
.item p{
    word-wrap: break-word;
}
.item__hard {
    border: 2px solid red;
}
